name: pre-commit 
  
on: 
  pull_request: 
  push: 
 
jobs: 
  pre-commit: 
    runs-on: ubuntu-latest 
 
    steps: 
      - uses: actions/checkout@v2 
 
      - name: Set up Python 3.10
        uses: actions/setup-python@v3
        with:
          python-version: "3.10"
          architecture: "x64"
 
      - name: pre-commit-run 
        run: | 
          pip install pre-commit 
          pre-commit run --all-files 
